@font-face {
	font-family: 'segoeuisl';
	src: url('segoeuisl.ttf') format('truetype');
}
@font-face {
	font-family: 'segoeui';
	src: url('segoeui.ttf') format('truetype');
}
@font-face {
	font-family: 'framdcn';
	src: url('framdcn.ttf') format('truetype');
}@font-face {
	font-family: 'silent_reaction';
	src: url('silent_reaction.ttf') format('truetype');
}@font-face {
	font-family: 'segoeuil';
	src: url('segoeuil.ttf') format('truetype');
}@font-face {
	font-family: 'torcao-norbol';
	src: url('torcao-norbol.ttf') format('truetype');
}@font-face {
	font-family: 'torcao-extlig';
	src: url('torcao-extlig.ttf') format('truetype');
}@font-face {
	font-family: 'kiro_bold';
	src: url('kiro_bold.otf') format('truetype');
}@font-face {
	font-family: 'neou-bold';
	src: url('neou-bold.otf') format('truetype');
}@font-face {
	font-family: 'kiro_regular';
	src: url('kiro_regular.otf') format('truetype');
}@font-face {
	font-family: 'kiro_extra_light';
	src: url('kiro_extra_light.otf') format('truetype');
}@font-face {
	font-family: 'biko_bold';
	src: url('biko_bold.otf') format('truetype');
}@font-face {
	font-family: 'lolitasemibold';
	src: url('lolitasemibold.otf') format('truetype');
}@font-face {
	font-family: 'lolitamedium';
	src: url('lolitamedium.otf') format('truetype');
}@font-face {
	font-family: 'lolitablack';
	src: url('lolitablack.otf') format('truetype');
}@font-face {
	font-family: 'century_gothic';
	src: url('century_gothic.ttf') format('truetype');
}@font-face {
	font-family: 'latoblack';
	src: url('latoblack.ttf') format('truetype');
}@font-face {
	font-family: 'latoheavy';
	src: url('latoheavy.ttf') format('truetype');
}@font-face {
	font-family: 'latoregular';
	src: url('latoregular.ttf') format('truetype');
}@font-face {
	font-family: 'latolight';
	src: url('latolight.ttf') format('truetype');
}@font-face {
	font-family: 'heronsanscond_sb';
	src: url('heronsanscond_sb.otf') format('truetype');
}@font-face {
	font-family: 'montserrat-black';
	src: url('montserrat-black.ttf') format('truetype');
}@font-face {
	font-family: 'montserrat-bold';
	src: url('montserrat-bold.ttf') format('truetype');
}@font-face {
	font-family: 'montserrat-light';
	src: url('montserrat-light.ttf') format('truetype');
}@font-face {
	font-family: 'montserrat-regular';
	src: url('montserrat-regular.ttf') format('truetype');
}@font-face {
	font-family: 'montserrat-medium';
	src: url('montserrat-medium.ttf') format('truetype');
}@font-face {
	font-family: 'Millenia Personal Use';
	src: url('Millenia Personal Use.ttf')format('truetype');
}@font-face {
	font-family: 'heronsans_regular';
	src: url('heronsans_regular.otf') format('truetype');
}@font-face {
	font-family: 'swiss-condensed';
	src: url('Swiss721CondensedBT.ttf') format('truetype');
}@font-face {
	font-family: 'roboto-black';
	src: url('roboto-black.ttf') format('truetype');
}@font-face {
	font-family: 'roboto-bold';
	src: url('roboto-bold.ttf') format('truetype');
}@font-face {
	font-family: 'roboto-light';
	src: url('roboto-light.ttf') format('truetype');
}@font-face {
	font-family: 'roboto-regular';
	src: url('roboto-regular.ttf') format('truetype');
}@font-face {
	font-family: 'raleway-black';
	src: url('raleway-black.ttf') format('truetype');
}@font-face {
	font-family: 'raleway-blackitalic';
	src: url('raleway-blackitalic.ttf') format('truetype');
}@font-face {
	font-family: 'raleway-bold';
	src: url('raleway-bold.ttf') format('truetype');
}@font-face {
	font-family: 'raleway-bolditalic';
	src: url('raleway-bolditalic.ttf') format('truetype');
}@font-face {
	font-family: 'raleway-extrabold';
	src: url('raleway-extrabold.ttf') format('truetype');
}@font-face {
	font-family: 'raleway-extrabolditalic';
	src: url('raleway-extrabolditalic.ttf') format('truetype');
}@font-face {
	font-family: 'raleway-extralight';
	src: url('raleway-extralight.ttf') format('truetype');
}@font-face {
	font-family: 'raleway-extralightitalic';
	src: url('raleway-extralightitalic.ttf') format('truetype');
}@font-face {
	font-family: 'raleway-italic';
	src: url('raleway-italic.ttf') format('truetype');
}@font-face {
	font-family: 'raleway-light';
	src: url('raleway-light.ttf') format('truetype');
}@font-face {
	font-family: 'raleway-lightItalic';
	src: url('raleway-lightItalic.ttf') format('truetype');
}@font-face {
	font-family: 'raleway-medium';
	src: url('raleway-medium.ttf') format('truetype');
}@font-face {
	font-family: 'raleway-mediumitalic';
	src: url('raleway-mediumitalic.ttf') format('truetype');
}@font-face {
	font-family: 'raleway-regular';
	src: url('raleway-regular.ttf') format('truetype');
}@font-face {
	font-family: 'raleway-semibold';
	src: url('raleway-semibold.ttf') format('truetype');
}@font-face {
	font-family: 'raleway-semibolditalic';
	src: url('raleway-semibolditalic.ttf') format('truetype');
}@font-face {
	font-family: 'raleway-thin';
	src: url('raleway-thin.ttf') format('truetype');
}@font-face {
	font-family: 'raleway-thinitalic';
	src: url('raleway-thinitalic.ttf') format('truetype');
}@font-face {
	font-family: 'futurabk-btbook';
	src: url('futurabk-btbook.ttf') format('truetype');
}@font-face {
	font-family: 'futura-bkbt-bookitalic';
	src: url('futura-bkbt-bookitalic.ttf') format('truetype');
}@font-face {
	font-family: 'mod20';
	src: url('mod20.ttf') format('truetype');
}@font-face {
	font-family: 'exo2-regular';
	src: url('Exo2-Regular.otf') format('truetype');
}
/* Poopin */
@font-face {
	font-family: 'poppins-black';
	src: url('Poppins-Black.ttf') format('truetype');
}@font-face {
	font-family: 'poppins-blackitalic';
	src: url('Poppins-BlackItalic.ttf') format('truetype');
}@font-face {
	font-family: 'poppins-bold';
	src: url('Poppins-Bold.ttf') format('truetype');
}@font-face {
	font-family: 'poppins-bolditalic';
	src: url('Poppins-BoldItalic.ttf') format('truetype');
}@font-face {
	font-family: 'poppins-extrabold';
	src: url('Poppins-ExtraBold.ttf') format('truetype');
}@font-face {
	font-family: 'poppins-extrabolditalic';
	src: url('Poppins-ExtraBoldItalic.ttf') format('truetype');
}@font-face {
	font-family: 'poppins-extralight';
	src: url('Poppins-ExtraLight.ttf') format('truetype');
}@font-face {
	font-family: 'poppins-extralightitalic';
	src: url('Poppins-ExtraLightItalic.ttf') format('truetype');
}@font-face {
	font-family: 'poppins-italic';
	src: url('Poppins-Italic.ttf') format('truetype');
}@font-face {
	font-family: 'poppins-light';
	src: url('Poppins-Light.ttf') format('truetype');
}@font-face {
	font-family: 'poppins-lightitalic';
	src: url('Poppins-LightItalic.ttf') format('truetype');
}@font-face {
	font-family: 'poppins-medium';
	src: url('Poppins-Medium.ttf') format('truetype');
}@font-face {
	font-family: 'poppins-mediumitalic';
	src: url('Poppins-MediumItalic.ttf') format('truetype');
}@font-face {
	font-family: 'poppins-regular';
	src: url('Poppins-Regular.ttf') format('truetype');
}@font-face {
	font-family: 'poppins-semibold';
	src: url('Poppins-SemiBold.ttf') format('truetype');
}@font-face {
	font-family: 'poppins-semibolditalic';
	src: url('Poppins-SemiBoldItalic.ttf') format('truetype');
}@font-face {
	font-family: 'poppins-thin';
	src: url('Poppins-Thin.ttf') format('truetype');
}@font-face {
	font-family: 'poppins-thinItalic';
	src: url('Poppins-ThinItalic.ttf') format('truetype');
}
/* ----- */